/* colours */
:root {
    --primary: #77BA00;
    --secondary: #546E7A;
    --text: #BBBBBB;
}

/* layout styles */
.z-depth-0>div {
    margin: 0 15px !important;
}
nav {
    background: var(--primary);
    height: 50px !important;
    line-height: 50px !important;
}
nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff !important;
}
nav .sidenav-trigger {
    margin: 0;
    color: #ffffff !important;
}

.side-menu li:first-of-type {
    background: var(--primary);
    box-shadow: 0px -4px 16px -8px rgba(0,0,0,0.6);
}
.side-menu .subheader {
    color: #ffffff !important;
}

.screen-wrapper {
    width: 100%; padding-bottom: 40px;
}

.search-wrapper {
    width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap !important; align-items: center; justify-content: space-between !important; margin-top: 0 !important; padding-left: 15px; margin-right: 15px !important;
}
.search-wrapper .input-field {
    width: 80%; display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; margin-bottom: 0 !important;
}
/* .filter-wrapper { margin-right: 15px !important; margin-left: 15px !important; } */
.select-field { margin-right: 15px !important; margin-left: 15px !important; margin-top: 0 !important; }
.input-field .label-select{ margin-left: 15px !important; }
.search-icon {
    color: var(--secondary); font-size: 2rem;
}
/* .input-field .prefix.active { color: var(--primary) !important; } */
.input-field .prefix~input {
    margin-left: 2.4rem;
}
input[type=text]:not(.browser-default) {
    height: 2.8rem;
}
/* input[type=text]:not(.browser-default):focus:not([readonly]) {border-bottom: 1px solid var(--primary); box-shadow: 0 1px 0 0 var(--primary);} */

.material-icons {
    color: var(--secondary);
}
.reset-icon {
    display: flex; margin-left: auto; margin-right: 15px; color: var(--primary);
}
.reset-icon .material-icons {color: #4db6ac !important;}

/* Onsare Categories */
.categories-wrapper {
    width: 100%; padding-left: 15px !important; overflow-x: auto; margin-top: 2px !important; margin-bottom: 15px !important;
}
.categories-list {
    width: max-content !important; display: flex; flex-direction: row; flex-wrap: nowrap !important;
}
a.category-item {
    width:fit-content; text-decoration: none !important; margin-right: 15px !important; padding: 8px; padding-right: 14px; background-color: #FBFBFB; border-radius: 20px; height: 34px; color: var(--secondary); font-size: 12px; display: flex; flex-wrap: nowrap !important; align-items: center; border: 2px solid #FBFBFB; transition: 0.5s; 
}
a.category-item.active {
    border: 2px solid var(--primary) !important;
}
.category-icon {
    margin-right: 10px; height: 20px !important;
}
/* End of Onsare Categories */

/* Categories */
.categories .card-panel {
    box-shadow: none;
    border-radius: 10px;
}

.categories .card-panel.active {
    border: 2px var(--secondary) solid;
}

.categories .card-panel h6 {
    font-weight: bold;
    font-size: 0.8rem;
}

/* Onsare Vendor and Rider card design */
.card-item {
    background: #EEEEEE; margin: 0 15 15px !important; color: #707070; font-size: 12px; border-radius: 0 !important; padding: 8 12 6px; display: flex; flex-direction: column;
}
.card-top {
    display: flex; flex-wrap: nowrap !important; width: 100%; align-items: flex-start;
}
.card-top-left {
    width: 80%; display: flex; flex-direction: column;
}
.card-titled {
    color: #546E7A; font-size: 18px; font-weight: 500 !important; margin-bottom: 0 !important;
}
.phone-wrapper {
    display: flex; flex-direction: row; flex-wrap: nowrap !important;
}
.phones {
    display: flex; flex-direction: row; flex-wrap: wrap !important;
}
a.phone {
    text-decoration: none !important;margin-left: 15px; font-size: 16px; color: var(--primary); font-weight: 400 !important;
}
.card-icon {
    display: flex; margin-left: auto; width: 20%;
}
.card-icon img { width: 100%;}
.location {
    width: 80%;  display: flex; flex-direction: row; flex-wrap: nowrap !important; margin-top: 0 !important;
}
.location span {
    color:#AAAAAA; font-size: 14px; margin-left: 15px; line-height: 26px;
}
p.description {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
/* End of Onsare Vendor and Rider card design */

/* Start of Pagination */
.paginate {
    position: fixed; bottom: 0 !important; height: 40px; width: 100%; background: #fff;  box-shadow: 0px 0px 24px -8px rgba(0,0,0,0.6); display: flex; align-items: center; justify-content: space-between; padding: 0 15px !important; 
}
.paginate a{text-decoration: none; color: var(--primary);}
.paginate a .material-icons{color: var(--primary);}
.paginate span{color: var(--secondary); font-size: 12px;}
/* End of Pagination */

/* vendor styles */
.vendors {
    margin-top: 0px;
}

.card-panel.vendor {
    box-shadow: none;
}

.vendor-title {
    font-size: 1.2rem;
}

.vendor-details .row {
    margin-bottom: 0;
}

.vendor-details .col {
    font-size: 1.2rem;
}

.vendor-details .col i {
    color: #757575;
}

.vendor-details .col span {
    color: var(--secondary);
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 10px;
}

.vendor-details .col {}

.vendor-delete {}

.vendor-ingredients {}

/* Buttons */
.btn {
    background-color: var(--secondary);
    color: var(--text);
    font-weight: bold;
}

.btn:hover {
    background-color: var(--primary);
}

/* Motorcycle */
.motorcycle img {
    max-width: 50px;
}

.motorcycle i {
    font-size: 1rem;
}

.row.motorcycle {
    margin-bottom: 0;
}

.motorcycle-image {
    padding-top: 10px !important;
}